/* Navbar */

#nav-img-m {
	margin-right: 10px;
}

/* Title */

.title {
	text-align: center;
	font-size: 4em;
}

/* Dropdown */

#accordian, #main-content, footer, #grid-2048, #main-content .top-btn-row {
	margin-top: 30px;
}

/* 2048 game */

.top-btn-row {
	width: 25vw;
	margin: auto;
}

#restart {
	height: 40px;
}

#grid-2048 {
	width: 25vw;
	height: 25vw;
	background-color: rgb(187 173 160);
	margin-right: auto;
	margin-left: auto;
	padding: 5px; 
	border-radius: 10px;

}

.cell-2048, .tile {
	background-color: rgb(238 228 218 / 35%);
	border-radius: 10px;
	width: 100%;
	height: 100%;
}
.tile span {
	color:white;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 60px;
	font-weight: bold;
}

.margin-box {
	padding: 5px;
	background-color: rgb(187 173 160);
}

/* 2048 Buttons */

#buttons {
	width: 25vw;
	padding: 0px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	transform: translate(17px);
}

#left, #right {
	font-size: 40px;
}

#left {
	border-radius: 50vh 0 0 50vh;
}

#right {
	border-radius: 0 50vh 50vh 0;
}

#up, #down {
	border-radius: 0;
}

/* Footer */

.container footer {
	background-color: #333333;
	color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #grid-2048, .top-btn-row {
  	width: 350px;
  	height:350px;
  }
  #buttons {
	width: 350px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  #grid-2048, .top-btn-row {
	width: 350px;
	height:350px;
  }
  #buttons {
	width: 350px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #grid-2048, .top-btn-row {
	width: 350px;
	height:350px;
  }
  #buttons {
	width: 350px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}